// VARIABLES

  // Colors
  $cg-blue: #00456A;
  $cg-teal: #45A4bA;

  // Fonts
  $cg-font: "Lucida Grande",Arial,Helvetica,Clean,sans-serif;


// SEQUENCE THEME

  body{

    // Globals
    &.connells-group{
      font-family: $cg-font;

      // Header
      header{

        // Email Heading
        .email-heading{
          text-transform: lowercase;
        }

        .identity{
          max-width: 150px;
          @include tabletPortrait{
            max-width: 100px;
          }
        }

        // Nav
        nav{
          .item{
            text-transform: lowercase;

            &.logout{
              text-transform: capitalize;
              color: $cg-blue;
            }
          }
        }
      }

      // Buttons
      a.btn{
        text-transform: capitalize;
        
        &.cta{
          background: $cg-blue;
        }
        &.ghost{
          border-color: $cg-teal;
          color: $cg-teal;
        }
      }

      // Intro
      .intro{
        .container{
          .your-data{
            background: $cg-teal;
            border: 0;
            color: $neutral-1;

            h3{
              color: inherit;
            }
            a{
              color: inherit;
              @include bold;
            }
          }
        }
      }

      // Services
      .service-item{
        .main{
          .details{
            .symbol{
              color: $cg-teal;
              opacity: 0.4;
            }
          }
        }
        .alt-option{
          .description{
            h4{
              color: $cg-blue;
            }
          }
        }
      }

      // Typography
      h1, h2, h3, h4{
        text-transform: capitalize;

        &.highlight{
          &:before{
            background: $cg-blue;
          }
        }
      }

      // Footer
      footer{
        background: $neutral-3;
        color: $neutral-7;

        a{
          color: $cg-blue;
        }
        p{
          &:nth-of-type(1){
            border-color: $neutral-4;
          }
        }
      }
    }
  }
