// VARIABLES

  // Colors
  $sq-blue: #55C8EA;
  $sq-pink: #C70966;
  $sq-green: #8dc45c;
  $sq-orange: #f8a94c;
  $sq-grey: #555555;

  // Fonts
  $sq-font: 'Open Sans', sans-serif;


// SEQUENCE THEME

  body{

    // Globals
    &.sequence, &.barnard-marcus{
      font-family: $sq-font;
      text-transform: lowercase;

      // Email Heading
      .email-heading{
        text-transform: lowercase;
      }

      // Nav
      nav{
        .item{
          text-transform: lowercase;

          &.logout{
            color: $sq-orange;
          }
        }
      }

      // Buttons
      a.btn{
        text-transform: lowercase;
        border-radius: 10em;

        &.cta{
          background: $sq-blue;
        }
        &.ghost{
          border-color: $sq-pink;
          color: $sq-pink;
        }
      }

      // Intro
      .intro{
        .container{
          .your-data{
            background: $sq-pink;
            border: 0;
            color: $neutral-1;

            h3{
              color: inherit;
            }
            a{
              color: inherit;
              @include bold;
            }
          }
        }
      }

      // Services
      .service-item{
        .main{
          .details{
            .symbol{
              color: $sq-green;
              opacity: 0.4;
            }
          }
        }
        .alt-option{
          .description{
            h4{
              color: $sq-blue;
            }
          }
        }
      }

      // Typography
      h1, h2, h3, h4{
        text-transform: lowercase;
        color: $sq-grey;

        &.highlight{
          &:before{
            background: $sq-blue;
          }
        }
      }

      // Forms
      label{
        text-transform: lowercase;
      }

      // Footer
      footer{
        background: $neutral-3;
        color: $sq-grey;

        a{
          color: $neutral-7;
        }
        p{
          &:nth-of-type(1){
            border-color: $neutral-4;
          }
        }
      }
    }
  }
