// BUTTONS

  a.btn{
    background: $neutral-3;
    color: $neutral-7;
    text-transform: uppercase;
    @include bold;
    padding: 20px;
    text-decoration: none;
    border-radius: 5px;
    white-space: nowrap;
    text-align: center;

    i{
      margin-right: 10px;
    }
    &.cta{
      background: $cta;
      color: $neutral-1;
    }
    &.ghost{
      background: transparent;
      border: 2px solid $neutral-1;
      color: $neutral-1;
    }
  }

  .button-split{
    @include flexbox;
    @include justify-content(space-between);
    margin: -20px;
    @include tabletPortrait{
      @include flex-direction(column);
      width: 100%;
      margin: 10px 0;
    }

    a.btn{
      width: 50%;
      margin: 20px;
      @include border-box;
      @include tabletPortrait{
        width: 100%;
        margin: 10px 0;
      }
    }
  }
