// Buttons
.btn{
  border: $global-border;
  border-color: $neutral-6;
  color: $neutral-6;
  padding: 15px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  @include border-box;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include bold;

  // Icons
  &:before{
    margin-right: 10px;
  }

  // Themes
  &--primary{
    background: $primary;
    border-color: $primary;
    color: $neutral-1;
  }
}
