// Checkboxes
.checkbox{
  position: relative;
  height: 30px;
  @include flexbox;
  @include align-items(center);

  $block: '.checkbox';

  &__box{
    appearance: none;
    outline: none;
    height: 100%;

    &:before{
      height: 100%;
      width: 30px;
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 5px;
      border: $global-border;
      border-color: $neutral-4;
      background: $neutral-1;
      cursor: pointer;
      @include border-box;
    }
    &:checked{
      &:before{
        @include fa-icon;
        @extend .fas;
        content: fa-content($fa-var-check);
        background: $secondary;
        border-color: $secondary-alt;
        color: $neutral-1;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        line-height: 1;
      }
    }
  }
  &__label{
    padding-left: 32px;
    cursor: pointer;
  }
  &--reverse{
    #{$block}__box{
      order: 2;

      &:before{
        left: auto;
        right: 0;
      }
    }
    #{$block}__label{
      padding: 0 32px 0 0;
    }
  }
}
