// FORM

  // Labels
  label{
    @include font-small;
    @include bold;
  }

  // Checkboxes

  input[type="checkbox"]{
    margin-right: 10px;
  }

  .checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      @include flexbox;
      @include align-items(center);
    }

    // Box.
    & + label:after {
      content: '';
      width: 30px;
      height: 30px;
      background: $neutral-2;
      border: 2px solid $neutral-4;
      border-radius: 5px;
      @include flexbox;
      @include justify-content(flex-end);
    }

    // Box checked
    &:checked + label:after {
      background: $green;
      border-color: $dark-green;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:before {
      @include fa-icon;
      @extend .fas;
      content: fa-content($fa-var-check);
      color: $neutral-1;
      position: absolute;
      right: 10px;
      top: 10px;
      @include tabletPortrait{
        right: 11px;
        top: 12px;
      }
    }
  }
