// Opt-out
.keep-in-touch{
  border-top: $global-border;

  // Inline
  &__inline{
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
    padding: 30px 0;
  }
  &__heading{
    margin: 0;
  }

  // Actions
  &__actions{
    @include flexbox;
    @include justify-content(flex-end);
    padding-bottom: 30px;
  }
  &__btn{
    &:before{
      @include fa-icon;
      @extend .fas;
      content: fa-content($fa-var-check-circle);
    }
    @include mobile{
      width: 100%;
    }
  }
}


// Options
.option-group{
  @include flexbox;
  @include align-items(center);
  @include tabletLandscape{
    margin-top: 30px;
  }
  @include tabletPortrait{
    width: 100%;
    @include flex-direction(column);
    @include align-items(flex-start);
  }

  &__title{
    margin: 0;
  }
  &__option{
    margin-left: 45px;
    @include tabletPortrait{
      margin: 30px 0 0 0;
    }
  }
}
