// FOOTER

  footer{
    background: $neutral-9;
    color: $neutral-6;
    @include flexbox();
    margin-top: 40px;
    @include global-padding();
    @include tabletPortrait{
      margin-top: 30px;
    }

    .container{
      padding: 60px 0;
      @include tabletPortrait{
        padding: 30px 0;
      }

      a{
        color: $neutral-4;
        text-decoration: none;
        @include bold;
      }
      p{
        max-width: 100%;
      }
    }
  }
