// Site Header
.site-header{
  width: 100%;
  border-bottom: $global-border;

  &__container{
    @include global-padding;
    @include border-box;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    @include tabletPortrait{
      @include flex-wrap(wrap);
      padding: 0;
    }
  }

  // Logo
  &__logo{
    max-width: 150px;
    padding: 20px 0;
    @include tabletPortrait{
      order: 2;
      padding: 20px;
    }
  }

  // Navigation
  &__nav{
    @include flexbox;
    margin: 0 -20px;
    @include tabletPortrait{
      margin: 0;
      background: $neutral-2;
      border-bottom: $global-border;
      width: 100%;
      @include justify-content(space-between);
    }
  }
  &__nav-item{
    padding: 20px;
    @include bold;
    @include tabletPortrait{
      padding: 20px;
    }
  }
}
