// Site Hero
.site-hero{
  padding: 30px 0;

  &__container{
    @include global-padding;
    @include border-box;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    @include tabletPortrait{
      @include flex-wrap(wrap);
    }
  }

  // Intro
  &__intro{
    width: 65%;
    padding-right: 30px;
    @include tabletPortrait{
      width: 100%;
      padding: 0 0 30px 0;
    }
  }
  &__crumb{
    margin-top: 30px;
    color: $neutral-6;
    @include bold;
    @include flexbox;
    @include align-items(center);

    &:before{
      @include fa-icon;
      @extend .fas;
      content: fa-content($fa-var-long-arrow-alt-left);
      margin-right: 10px;
    }
  }
  &__heading{
    margin-top: 20px;
  }
}

// Data Protection
.data-protection{
  background: $neutral-2;
  border: $global-border;
  width: 35%;
  padding: 30px;
  @include tabletPortrait{
    width: 100%;
  }

  &__heading{
    margin-top: 0;
  }
  &__copy{
    margin-bottom: 0;
  }
}
