// Site Login
.site-login{
  width: 100%;
  padding: 30px 0;

  &__container{
    @include global-padding;
    @include border-box;
  }
  &__heading{
    margin: 30px 0 60px 0;
  }
  &__sub-heading{
  }
}
